<h2 class="text-center mt-4" style="color: #2F3C7E;">{{data}}</h2>

<div class="container w-50">


  <div>
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="border border-1 p-3" action="">

      <h1 class="text-center">Sign in</h1>


      <div>
        <input formControlName="acno" type="text" id="u1" name="acno" class="form-control mt-3"
          placeholder="Account Number">
      </div>
      <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
        <p class="text-danger ms-2">Please include numbers only</p>
      </div>

      <div>
        <input formControlName="psw" type="password" id="p1" name="pasw1" class="form-control mt-3"
          placeholder="Enter password">
      </div>
      <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
        <p class="text-danger ms-2">Please include characters and numbers only</p>
      </div>

      <div class="but-1">
        <button type="submit" class="button-1 mt-4">Login</button>

      </div>
      <p class="para-1 mt-2 text-center">Don't have account?<a routerLink="signup"> Create account</a></p>



    </form>



  </div>