<h2 class="text-center mt-4" style="color: #2F3C7E;">{{data}}</h2>

<div class="container w-50">


  <div>
    <form class="border border-1 p-3" action="">
  
      <h1 class="text-center">Sign in</h1>
  
      <div>
        <input [(ngModel)]="acno" type="text" id="e1" name="accno" class="form-control mt-3" [placeholder]="data2">
      </div>
  
      <div>
        <input [(ngModel)]="psw" type="text" id="p1" name="pass" class="form-control mt-5" placeholder="Enter password">
  
      </div>
  
      <div class="but-1">
        <button (click)="login()" type="submit" class="button-1 mt-4">Login</button>
  
      </div>
      <p class="para-1 mt-2 text-center">Don't have account?<a routerLink="signup"> Create account</a></p>
  
  
  
    </form>
  
    
  
</div>

