<div class="container w-50">

  <div>
    <form action="" class="border p-4">
      <h2 class="text-center">Signup</h2>
  
      <div>
        <input type="number" id="" name="" class="form-control mt-3" placeholder="Account number">
      </div>
  
      <div>
        <input type="text" id="" name="" class="form-control mt-5" placeholder="Username">
      </div>
  
      <div>
        <input type="text" id="" name="" class="form-control mt-5" placeholder="Enter password">
      </div>
  
      <div>
        <input type="text" id="" name="" class="form-control mt-5" placeholder="Confirm password">
      </div>
  
      <div class="text-center">
        <button (click)="signup()" type="submit" class="signup mt-4">Signup</button>
      </div>
    </form>

  </div>

</div>